@import org.pac4j.core.profile.UserProfile
@(profile: Option[org.pac4j.core.profile.UserProfile])

@main("Welcome") {
<h1>Welcome!!</h1>

@profile match {
case Some(pf) => {
<p>
  Attribute "name": @pf.getAttribute("name")

</p>
<p>
  TypedId: @pf.getTypedId()
</p>
<p>
  Attribute "picture": <img src='@pf.getAttribute("picture")' />
</p>
<div>
  <a href="/sign-out">Sign out</a>
</div>
}
case None => {
<div>
  <a href="/sign-in-with-google">Sign in with Google</a>
</div>
<div>
  <a href="/sign-in-with-line">Sign in with LINE</a>
</div>
}
}

}